.pagina-cardapio {
  padding-top: 105px; 
  padding-bottom: 95px;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.grid-produtos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  padding: 10px;
  margin-top: 0; 
}

.conteudo-principal {
  margin: 0;
  padding: 0;
  padding: 10px;
}