.header-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #d32f2f; /* Vermelho lanchonete */
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  z-index: 1000;
}

.header-container span {
  cursor: pointer;
  padding: 10px;
}