/* Reset Global */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Fundo base para todas as telas do PDV */
.App {
  width: 100%;
  min-height: 100vh;
  background-color: #f4f4f4; /* Cor de contraste para os cards brancos */
  display: flex;
  flex-direction: column;
}

/* Estilo comum para as páginas ocuparem a tela toda */
.pagina-container {
  width: 100%;
  min-height: 100vh;
}